<script>

var size = 25; 				// size of points
var round = 5; 				// border radius of points

var size2 = 3; 				// thickness of lines
var round2 = 5; 			// border radius of lines

var ammount = 500; 			// number of points

var showProgress = false; 	// show progress of finding best point

var randomColor = true; 	// make points to have random color

var hidePoints = true; 		// hide point after clicking on one.

var timeout = 10; 			// timeout (milliseconds) between drawing lines

</script>
<style>
	.main{
		position:fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	.pc{
		position: absolute;
		width: 15px;
		height: 15px;
		background: orange;
		border-radius: 0px;
	}
	div.line{
		transform-origin: 0 100%;
		background: red;
	}
	div.line2{
		transform-origin: 0 100%;
		background: green;
		box-shadow: 0 0 4px white;
	}
</style>

<div class="main">
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
var posx = [];
var posy = [];
var used = [];
var notUsed = [];
var allines = [];
var length = 0;
var tm = 0;
var i;
$(function(){
	for(i = 0; i < ammount; i++){
		$(".main").append("<div class=\"pc\" data-value=\""+i+"\"></div>\n");
	}
	i = 0;
	$(".pc").css("width",size+"px");
	$(".pc").css("height",size+"px");
	$(".pc").css("border-radius",round+"px");
	$(document).find(".pc").each(function(){
		var possy = Math.floor(Math.random() * ($(".main").height()-size));
		var possx = Math.floor(Math.random() * ($(".main").width()-size));
		posx.push(possx+(size/2));
		posy.push(possy+(size/2));
		$(this).css("top",possy);
		$(this).css("left",possx);
		if(randomColor){
			i++;
			if(i > 255){
				i -= 255;
			}
			$(this).attr("style",$(this).attr("style")+" background: rgb("+
			Math.floor(Math.random() * 256)+","+
			Math.floor(Math.random() * 256)+","+
			Math.floor(Math.random() * 256)+");");
		}
	});
	$(document).on('click','.pc',function(){
		used = [];
		notUsed = [];
		length = 0;
		tm = 0;
		$(document).prop('title',length);
		$.each(posx,function(index,value){
			notUsed.push(index);
			
		});
		if(hidePoints) 
			$(".pc").css("background","none");
		$(".line").remove();
		$(".line2").remove();
		$(".line3").remove();
		start($(this).attr('data-value'));
	});
	
	function start(s){
		var tm = 0;
		var dist = 32768, index = -1;
		var lines = [];
		used.push(parseInt(s));
		notUsed = jQuery.grep(notUsed, function(value) {
			return value != s;
		});
		for(var i = 0; i < posx.length; i++){
			allines[i] = getDistances(i);
		}
		var min = 1000000;
		var px, py;
		$.each(used,function(index,value){
			$.each(notUsed,function(index2,value2){
				if(allines[value][value2].dist < min){
					min = allines[value][value2].dist;
					px = value;
					py = value2;
				}
				if(showProgress == 1){
					tm += timeout;
					setTimeout(function(){
						createLine(
							allines[value][value2].p1.x,
							allines[value][value2].p1.y,
							allines[value][value2].p2.x,
							allines[value][value2].p2.y,
							allines[value][value2].dist
						);
					},tm);
				}
			});
		});
		obj = {
			p1: {
				x: posx[px],
				y: posy[px]
			},
			p2: {
				x: posx[py],
				y: posy[py]
			},
			dist: allines[px][py].dist
		};
		tm += timeout;
		if(showProgress == 1){
			setTimeout(function(){
				$(document).prop('title',length);
				linePerma(obj);
			},tm);
		}else{
			length += obj.dist + 10;
			$(document).prop('title',length);
			linePerma(obj);
		}
		if(notUsed.length > 1)
			setTimeout(function(){start(py);},tm);	
	}
	function getDistances(s){
		var dists = [];
		for(var i = 0; i < posx.length; i++)
			dists.push({
				dist: Math.sqrt((posx[i]-posx[s])*(posx[i]-posx[s]) + (posy[i]-posy[s])*(posy[i]-posy[s])),
				p1: {
					x: posx[s],
					y: posy[s]
				},
				p2: {
					x: posx[i],
					y: posy[i]
				},
				f: parseInt(s),
				to: parseInt(i)
			});
		return dists;
	}
	function createLine(x1,y1, x2,y2, dist){
		var length = dist;
		var angle  = Math.atan2(y2 - y1, x2 - x1) * 180 / Math.PI;
		var transform = 'rotate('+angle+'deg)';
		$(".line").remove();
		var line = $('<div>')
			.appendTo('body')
			.addClass('line')
			.css({
				'position': 'absolute',
				'transform': transform,
				'height': size2+"px",
				'border-radius': round2+"px"
			})
			.width(length)
			.offset({left: x1, top: y1});
		return line;
	}
	function linePerma(obj){
		var length = obj.dist;
		var angle  = Math.atan2(obj.p2.y - obj.p1.y, obj.p2.x - obj.p1.x) * 180 / Math.PI;
		var transform = 'rotate('+angle+'deg)';
		$(".line").remove();
		var line = $('<div>')
			.appendTo('body')
			.addClass('line2')
			.css({
				'position': 'absolute',
				'transform': transform,
				'height': size2+"px",
				'border-radius': round2+"px"
			})
			.width(length)
			.offset({left: obj.p1.x, top: obj.p1.y});
		return line;
	}
});
</script>